# Compiled Object files
*.slo
*.lo
*.o


CMakeCache.txt
CMakeFiles
config.hpp
imgui.ini
readme.md
CMakeScripts
EDAN_35_Lab2
log.txt
Makefile
cmake_install.cmake
install_manifest.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.trace
*.sdf
*.log
*.tlog
*.pdb
Release/
*.txt
.vs
Debug/
glfw/
imgui/
